---
import ImageMod from "./ImageMod.astro";
---

<div class="relative h-px w-full bg-border dark:bg-darkmode-border">
  <div
    class="absolute left-1/2 -top-5 -translate-x-1/2 bg-white px-3 dark:bg-darkmode-body"
  >
    <img
      src="/images/icons/link.svg"
      height={56}
      width={56}
      alt="linkchain"
      class="-mt-1 scale-75 dark:invert-[90%] sm:scale-100 lg:mt-0"
    />
  </div>
</div>
