// button style
.btn {
  @apply relative inline-block rounded-lg border-2 border-primary bg-transparent px-5 py-3 text-sm dark:border-white;
  transition: color 0s;
  &::after,
  &::before {
    content: "";
    @apply absolute border-2 border-black bg-white dark:border-white dark:bg-primary;
    border-radius: 4px;
    height: 12px;
    width: 12px;
    top: calc(50% - 6px);
    pointer-events: none;
    transition:
      background 0.1s 0.2s,
      top 0.1s 0.2s,
      height 0.1s 0.2s,
      width 0.2s;
  }
  &::before {
    left: -7px;
  }
  &::after {
    right: -7px;
  }
  &:active,
  &:focus,
  &:hover {
    @apply text-white dark:text-primary;
    transition: color 0.25s 0.2s;
    &::before,
    &::after {
      @apply bg-primary dark:bg-white;
      z-index: -1;
      height: 46px;
      width: calc(50% + 7%);
      top: calc(50% - 24px);
      transition:
        background 0s,
        top 0.1s,
        height 0.1s,
        width 0.25s 0.2s;
    }
  }
}
.btn-effect-0 {
  @apply relative inline-block rounded-md border-2 border-primary bg-transparent px-5 py-3 text-sm dark:border-white;
  transition: color 0s;
  &::after,
  &::before {
    content: "";
    @apply absolute border-2 border-black bg-white dark:border-white dark:bg-primary;
    border-radius: 4px;
    height: 12px;
    width: 12px;
    top: calc(50% - 6px);
    pointer-events: none;
    transition:
      background 0.1s 0.2s,
      top 0.1s 0.2s,
      height 0.1s 0.2s,
      width 0.2s;
  }
  &::before {
    left: -7px;
  }
  &::after {
    right: -7px;
  }
}

// line link style
.line-link {
  @apply relative;
  &::after {
    @apply absolute right-0 bottom-0 w-0 bg-black;
    transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    content: "";
    height: 1px;
  }
  &:hover::after {
    @apply left-0 right-auto w-full;
  }
}
